body{
    background-color:lightgray;
   
}
h1 {
    text-align: center;
    color: darkgrey;
    font-size: 3vw;
    
}
h3 {
    color:black ;
}
.center {
    margin-bottom: 0vh;
}

ul {
    border-top: ActiveBorder;
    border-left: ActiveBorder;
    border-bottom: ActiveBorder;
    border-right: ActiveBorder;
    background-color: gainsboro;
    width: 44%;
}
p {
    border-top: ActiveBorder;
    border-left: ActiveBorder;
    border-bottom: ActiveBorder;
    border-right: ActiveBorder;
    background-color: gainsboro;
    width: 46%;
}
#lagetav {
    font-weight: bold;
}